<nav>
    <div class="site-title">
      <a href="/"><h1>Trains🚂 </h1></a>
      <p>Get Train Information</p>
      <p>Looking for trains 🚂 Know any?</p>
    </div>
    <ul>
      <li><a href="/"> Public Reviews</a></li>
      <li><a href="/foods"> Food Reviews</a></li>
      <li><a href="/about">About Trains🚂 </a></li>
      <li><a href="/dogs/create">+ Train Reviews</a></li>
      <li><a href="/foods/create">+ Food Reviews</a></li>
    </ul>
  </nav>