<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        When looking for an app for Trains🚂 ticket booking, you would prefer one
        that has a seamless user interface and multiple options to choose from.
        Speaking from experience, one app that helped me a lot with this respect
        is ixigo.
      </p>

      <p>
        Since they have a whole load of options to select from with their fares
        mentioned beside them, choosing the best one becomes easier. Add to that
        the offers that they run coupled with easy returns and cancellation
        terms, and you have one of the best ticket booking apps on your hands.
      </p>

      <p>
        The website also provides several other options to its users like
        checking the seat availability, the live train status etc. Hope this
        helps.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
