<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <h2>About Us</h2>
        <p>I am crazy about dogs. When I am not with my own dog, I befriend every dog I meet. They befriend me, too. We
          grin like the happy spirits we are.

        <p>A dog trainer friend says it’s because I came to dogs later in life. I grew up with cats, married a man who
          is
          allergic to cats. A puppy joined our family months after I read my daughter’s essay about how she wanted a dog
          with all her heart and soul and would do everything for it. Those who come to dogs late in life are happily
          overwhelmed by the wide open hearts, full-body joy, devotion, and warm spirit of dogs.</p>
        At least that’s how
        it’s been for me — and everyone else the trainer has known.</p>

        <p>

          A dog’s sigh on the couch behind you can offers courage to keep going with the scary scene, the wrenching
          discovery, facing the abyss and having no idea what to do next.
        </p>
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>